<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="navbar">
        <div class="logo">Stackit</div>
        <nav>
          <a href="/">Home</a>
          <a href="/ask">Ask Question</a>
      
          <% if (user) { %>
            <div class="user-info">
              <img src="<%= user.profile_image || '/images/default-avatar.png' %>" class="avatar">
              <span class="username-header"><%= user.username %></span>
              <a href="/logout" class="logout-btn">Logout</a>
            </div>
          <% } else { %>
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
          <% } %>
          
        </nav>
      </header>
      
      
  <div class="container">
    <main class="content">
